/* -------------------------- */
/* body.primary Style (Red) */
/* -------------------------- */
hr{width: 100%; border: 0; background-color: #707070; height: 1px;}

header{ position: absolute; overflow: auto; width: 100%; height: auto;}
header .headerbox{ width: 100%; height: 70px; padding-top: 20px; background-color: var(--pri01a); text-align: center; transition: .5s;}
body.primary header > .headerbox{background-color: var(--pri01a);}
body.second  header > .headerbox{background-color: var(--sec01);}
body.third   header > .headerbox{background-color: var(--sec03);}
body.fourth  header > .headerbox{background-color: var(--fth01);}
body.black   header > .headerbox{background-color: var(--black01);}
body.cyan    header > .headerbox{background-color: var(--cyan01);}

header .logo{ display: inline-block; /*width: 188px; height: 43px;*/  width: 125px; height: 30px; background-image: url(../images/ui/logo_light.svg);  background-size: contain; background-repeat: no-repeat; background-position: center; }
header > .headerbox .logo{ margin-left: 20px; float: left;}
header > .headerbox .menu{ float: left; margin-left: 37px;}
header > .headerbox .menu::before{ font-size: 30px; color: #FFF;}
header > .headerbox > i{ color: #FFF; float: left; height: 30px; line-height: 30px; font-style: normal; font-weight: 700; font-size: 15px;}

header nav{ position: absolute; display: block; width: 100%; height: 100vh; top: 0; left: -100%; transition: .2s; background-color: #FFF; z-index: 99999;}
body.MenuOn header{ height: 100vh;}
body.MenuOn header nav{ left: 0;}
header nav .headerbox{background-color: #E2E2E2;}
header nav .logo{background-image: url(../images/ui/logo_light.svg); cursor: pointer; transition: .3s;}
header nav .logo:hover{background-image: url(../images/ui/logo_dark.svg);}
header nav .footer{ display: inline-block; width: 100%; height: 158px; padding-top: 36px; text-align: center; font-size: 26px; color: #404041; background-color: #E2E2E2; font-weight: 500;}
header nav .footer .logout{ font-size: 26px; color: #FFFFFF; font-weight: 500; transition: .3s;}
header nav .footer .logout:hover{ color: #333;}

header nav .middle{ display: block; padding: 30px 70px; font-size: 26px; min-height: calc(100vh - 100px - 158px); font-size: 0; background-color: white;}
header nav .info{ display: inline-block; width: 100%;}
header nav .info li{ float: left;}
header nav .info::after{ content: ''; display: table; clear: both;}
header nav .info li.photo{ width: 110px; height: 110px; background-image: url(../images/ui/avatar.svg); background-repeat: no-repeat; background-size: cover; border-radius: 90px; display: inline-block; background-color: var(--gray03); margin-right: 20px; background-position: center;}
header nav .info li.name{ font-size: 36px; font-weight: 700; width: calc(100% - 130px);}
header nav .info li.position{ font-size: 26px; font-weight: 500;}
header nav .middle ul.menu{display: inline-block; background-color: #FFF; width: calc(50% - 10px); min-height: 210px; margin: 20px 0 0; vertical-align: top;}
header nav .middle ul.menu:last-child{margin-left:20px;}

header nav .middle ul.menu li{ display: inline-block; width: 100%; min-height: 140px; padding: 20px; border: 3px solid var(--sec01); border-radius: 18px; margin-bottom: 20px;}

header nav .middle ul.menu li::before{ content: ''; display: inline-block; width: 40px; height: 40px; background: url(../images/ui/icon.svg) no-repeat 0px 0px; background-size: 1000%; margin: -5px 0 5px -5px;}

header nav .middle ul.menu li.sec01{border-color: var(--sec01);}
header nav .middle ul.menu li.sec02{border-color: var(--sec02);}
header nav .middle ul.menu li.sec03{border-color: var(--sec03);}
header nav .middle ul.menu li.gray02{border-color: var(--gray02);}
header nav .middle ul.menu li.gray05{border-color: var(--gray05);}
header nav .middle ul.menu li.pri01a{border-color: var(--pri01a);}

header nav .middle ul.menu li a{ display: block; font-size: 24px; font-weight: 700; line-height: 28px;}
header nav .middle ul.menu li a.list{ font-size: 20px; font-weight: 500; display: none;}
header nav .middle ul.menu li a.list:nth-of-type(2){ margin-top: 20px;}
header nav .middle ul.menu li a.list::before{ content: '•'; display: inline-block; margin-right: 5px;}
header nav .middle ul.menu li.focus a.list{ display: block;}


/* Content */
.mainContent{ padding:80px 12px 30px; width: 100%; min-height: calc(100vh - 100px); }
.mainContent > .tags{}
.mainContent > .tags a{ font-size: 18px; font-weight: 700; padding: 8px 16px; background-color: var(--pri01c); border-top-left-radius: 10px; border-top-right-radius: 10px; border: 2px solid var(--pri01a); border-bottom: 0; }
.mainContent > .tags a.focus{ color: #FFF;background-color: var(--pri01a);}
.mainContent > .block{display: none; width: 100%; border: 2px solid var(--pri01a);}
.mainContent > .block.focus{ display: block; margin-bottom: 40px;}

.block h6{ font-size: 36px; font-weight: 700; color: var(--pri01a); border-bottom: 2px solid var(--pri01a); padding: 10px 20px;}
.block .box-content{ padding: 20px 40px 30px;}
.block i.hit{ display: block; font-style: normal; font-weight: 500; font-size: 14px; margin: 8px 0;}
.block i.hit b{ font-weight: 900;}
.block .title{ margin: 5px 0;}
.block .title::after{ content: ''; display: table; clear: both;}
.block .title:nth-of-type(n+2){margin-top: 20px;}
.block .title b{ font-size: 17px; font-weight: 800; }
.block .function{display: inline-block; float: right; font-size: 14px; color: #000;  font-weight: 500;}
.block .function select{font-size: 13px; font-weight: 700; text-align: left; margin-left: 10px;}
.block h6 .function{ margin-top: 15px;}
.block .title .function input+Label{ font-size: 15px;}
.block .title .function input[type=radio]+Label::before{ font-size: 20px;}

.block .tablebox{ border-top: 2px solid var(--pri01a); border-left: 2px solid var(--pri01a); width: 100%;}
.block .tablebox > ul > li{text-align: center; padding: 10px; border-bottom: 2px solid var(--pri01a); border-right: 2px solid var(--pri01a); font-weight: 500; font-size: 16px; vertical-align: middle;}
.block .tablebox ul.head,
.block .formbox li.head{ background-color: var(--pri01c); font-weight: 800;}
.block .tablebox ul.head li{ font-weight: 800;}

.block .tablebox2{width: 100%;}
.block .tablebox2 ul.head li{font-weight: 800;}
.block .tablebox2 ul li{ font-size: 18px; padding: 10px; font-weight: 500; text-align: center; border-bottom: 1px solid #707070; vertical-align: middle;}

.block .formbox{border: 2px solid var(--pri01a); padding: 20px; width: 100%;}
.block .formbox ul{border: 2px solid var(--pri01a); display: block; border-radius: 10px; margin-top: 15px}
.block .formbox > ul:first-child{margin-top: 0;}
.block .formbox ul > li{display: inline-block; padding: 10px; font-size: 16px; font-weight: 500; border-right: 2px solid var(--pri01a);}
.block .formbox ul > li:last-child{ border-right: none;}
.block .formbox li.head{ width: 150px;}

.block .formbox .group ul{ border-radius: 0;}
.block .formbox .group ul:nth-of-type(n+2){ border-top: none; margin-top: 0;}

.block .formbox .group ul:first-child{ border-top-left-radius: 15px; border-top-right-radius: 15px; }
.block .formbox .group ul:last-child{  border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}

.block .formbox dl,
.block .formbox dt,
.block .formbox dd{ width: 100%; display: block;}
.block .formbox dt{ font-size: 17px; font-weight: 700; margin-top: 12px; padding-bottom: 8px}
.block .formbox dd{ border: 2px solid var(--pri01a); border-radius: 10px; margin-bottom: 20px;}

.block .formbox dd input,
.block .formbox dd textarea,
.block .formbox dd select,
.block .formbox2 input,
.block .formbox2 textarea,
.block .formbox2 select{ width: 100%; border: none; }
.block .formbox2 input,
.block .formbox2 textarea,
.block .formbox2 select{ padding: 0px;}

.block .formbox2{width: 100%;}
.block .formbox2 ul li.head{font-weight: 800;border-bottom: none;}
.block .formbox2 ul li{ font-size: 18px; padding: 10px 0; font-weight: 500; text-align: left; border-bottom: 1px solid #707070; vertical-align: middle;}
.block .formbox2 ul li span{display: block;}
.block .formbox2 ul li img{max-width: 100%; max-height: 300px;}

b.light{ width: 36px; height: 36px; display: inline-block; background: url(../images/ui/bullet_green.svg) no-repeat center; background-size: contain; vertical-align: middle;}
b.light.green{ background-image: url(../images/ui/bullet_green.svg);}
b.light.blue{ background-image: url(../images/ui/bullet_blue.svg);}
b.light.ungreen{ background-image: url(../images/ui/bullet_ungreen.svg);}
b.light.unblue{ background-image: url(../images/ui/bullet_unblue.svg);}

.block input[type=radio]+Label::before{ vertical-align: sub; margin-left: 10px;}
body input.alone.green[type=radio]::before,
.block input.green[type=radio]+Label::before{ font-size: 25px; color: var(--sec02);}
body input.alone.blue[type=radio]::before,
.block input.blue[type=radio]+Label::before{ font-size: 25px; color: var(--sec03);}

/* -------------------------- */
/* body.second Style (Yellow) */
/* -------------------------- */

body.second .mainContent > .block,
body.second .mainContent > .block h6,
body.second .mainContent > .block .tablebox,
body.second .mainContent > .block .tablebox > ul > li,
body.second .mainContent > .block .tablebox2,
body.second .mainContent > .block .formbox,
body.second .mainContent > .block .formbox dd,
body.second .mainContent > .tags a{ border-color: var(--sec01);}

body.second .mainContent > .block h6{ color: var(--sec01);}

body.second .mainContent > .block .tablebox > ul.head > li,
body.second .mainContent > .tags a{ background-color:#EFEFEF;}
body.second .mainContent > .tags a.focus{background-color:var(--sec01);}

/* -------------------------- */
/* body.third Style (Blue) */
/* -------------------------- */

body.third .mainContent > .block,
body.third .mainContent > .block h6,
body.third .mainContent > .block .tablebox,
body.third .mainContent > .block .tablebox > ul > li,
body.third .mainContent > .block .tablebox2,
body.third .mainContent > .block .formbox,
body.third .mainContent > .block .formbox dd,
body.third .mainContent > .tags a{ border-color: var(--sec03);}

body.third .mainContent > .block h6{ color: var(--sec03);}

body.third .mainContent > .block .tablebox > ul.head > li,
body.third .mainContent > .tags a{ background-color:#EFEFEF;}
body.third .mainContent > .tags a.focus{background-color:var(--sec03);}

body.third .mainContent > .block .tablebox{ border-top: 2px solid var(--sec03); border-left: 2px solid var(--sec03); width: 100%;}
body.third .mainContent > .block .tablebox > ul > li{text-align: center; padding: 10px; border-bottom: 2px solid var(--sec03); border-right: 2px solid var(--sec03); font-weight: 500; font-size: 16px; vertical-align: middle;}
body.third .mainContent > .block .tablebox ul.head,
body.third .mainContent > .block .formbox li.head{ background-color: var(--sec03); font-weight: 800;}
body.third .mainContent > .block .tablebox ul.head li{ font-weight: 800;}

/* -------------------------- */
/* body.black Style (Blue) */
/* -------------------------- */

body.black .mainContent > .block,
body.black .mainContent > .block h6,
body.black .mainContent > .block .tablebox,
body.black .mainContent > .block .tablebox > ul > li,
body.black .mainContent > .block .tablebox2,
body.black .mainContent > .block .formbox,
body.black .mainContent > .block .formbox dd,
body.black .mainContent > .tags a{ border-color: var(--black01);}

body.black .mainContent > .block h6{ color: var(--black01);}

body.black .mainContent > .block .tablebox > ul.head > li,
body.black .mainContent > .tags a{ background-color:#EFEFEF;}
body.black .mainContent > .tags a.focus{background-color:var(--black01);}

body.black .mainContent > .block .tablebox{ border-top: 2px solid var(--black01); border-left: 2px solid var(--black01); width: 100%;}
body.black .mainContent > .block .tablebox > ul > li{text-align: center; padding: 10px; border-bottom: 2px solid var(--black01); border-right: 2px solid var(--black01); font-weight: 500; font-size: 16px; vertical-align: middle;}
body.black .mainContent > .block .tablebox ul.head,
body.black .mainContent > .block .formbox li.head{ background-color: var(--black01); font-weight: 800;}
body.black .mainContent > .block .tablebox ul.head li{ font-weight: 800;}


/* -------------------------- */
/* body.second Style (Yellow) */
/* -------------------------- */

body.cyan .mainContent > .block,
body.cyan .mainContent > .block h6,
body.cyan .mainContent > .block .tablebox,
body.cyan .mainContent > .block .tablebox > ul > li,
body.cyan .mainContent > .block .tablebox2,
body.cyan .mainContent > .block .formbox,
body.cyan .mainContent > .block .formbox dd,
body.cyan .mainContent > .tags a{ border-color: var(--cyan01);}

body.cyan .mainContent > .block h6{ color: var(--cyan01);}

body.cyan .mainContent > .block .tablebox > ul.head > li,
body.cyan .mainContent > .tags a{ background-color:var(--cyan03);}
body.cyan .mainContent > .tags a.focus{background-color:var(--cyan01);}

/* -------------------------- */
/*   body.fourth Style (Blue)  */
/* -------------------------- */

body.fourth .mainContent { font-size: 0;}
body.fourth .mainContent > .block{ border: none; display: inline-block; margin-bottom: 40px; vertical-align: top;}

body.fourth .mainContent > .block .tablebox,
body.fourth .mainContent > .block .tablebox > ul > li,
body.fourth .mainContent > .block .tablebox2{ border-color: var(--fth03); background-color:var(--fth02); font-size: 13px;}
body.fourth .mainContent > .block .tablebox > ul > li{ padding: 5px;}
body.fourth .mainContent > .block .tablebox > ul.head > li{background-color:var(--fth01); font-size: 14px; color: #FFF;}
body.fourth .mainContent > .block .tablebox{ margin: 15px 0;}
body.fourth .mainContent > .block .tablebox.lv2a{ margin: 0;}

.block.left{ width: calc(40% - 7px); margin-right: 14px;}
.block.right{ width: calc(60% - 7px);}
.block.half{ width: calc(50% - 7px);}

/* list function block */
.list_function{ display: block; width: 100%;}
.list_function.main{ border: 2px solid var(--fth03); margin: 10px 0;}
.list_function::after{ content: ''; display: table; clear: both;}
.list_function .block{ display: inline-block; width: 100%; margin-bottom: 10px;}
.list_function .block.fn{margin-bottom: 0px;}

.list_function .pagenation{ float: right; font-size: 0;}
.block.right .list_function .pagenation{ float: left; }
.list_function .pagenation a,
.list_function .pagenation b{ display: inline-block; padding: 1px 5px; font-weight: 800; color:var(--fth01); text-align: center; font-size: 12px; border: 2px solid #707070; border-left-width: 1px; border-right-width: 1px; transition: .3s;}
.list_function .pagenation b{ border-top: none; border-bottom: none;}
.list_function .pagenation a:first-child{border-left-width: 2px;}
.list_function .pagenation a:last-child{border-right-width: 2px;}
.list_function .pagenation a:hover{background-color:#707070; color: #FFF; }

.list_function .filter{ float: left;}
.list_function .filter::before{ content: 'Filter:'; display: inline-block; font-weight: 800; color:var(--fth01);}
.list_function .filter b{ font-size: 16px; color:var(--fth01); display: inline-block; vertical-align: middle; margin-right: 5px; font-weight: 800;}
.list_function .filter select{border: 2px solid #707070; color:var(--fth01); font-weight: 800; background-image:url(../images/ui/icon_form_select_arrow_gray.svg); padding: 2px 25px 2px 8px; font-size: 12px; margin-right: 5px;}

.list_function .new_project{ float: left; display: inline-block; position: relative; vertical-align: bottom; margin-right: 20px; /*margin-top: -15px;*/}
.list_function .new_project a.add{font-size: 0; background-color:var(--fth04); background-image: url(../images/ui/btn_add_green.svg); background-size: contain; background-repeat: no-repeat; width: 46px; height: 46px; line-height: 36px;  display: inline-block; text-align: center; cursor: pointer;}

.list_function .new_project+.filter,
.list_function .new_project+.filter+.pagenation{ margin-top: 15px;}

/* main function style */
.list_function.main{ padding: 10px 10px 0;}
.list_function.main .popupblock{display: inline-block; position: relative;}
.list_function.main a{ display: inline-block; font-size: 13px; color: var(--fth01); font-weight: 800;  margin-right: 10px; vertical-align: middle; transition: .3s;}
.list_function.main a:hover{color: var(--fth03); }
.list_function.main a.add,
.list_function.main a.edit,
.list_function.main a.calendar{width: 30px; height: 30px; background-image: url(../images/ui/btn_add_blue.svg);}
.list_function.main a.edit{background-image: url(../images/ui/btn_edit_blue.svg);}
.list_function.main a.calendar{background-image: url(../images/ui/btn_calendar_blue.svg);}
.list_function.main a.add.red{background-image: url(../images/ui/btn_add_red.svg);}
.list_function.main a.edit.red{background-image: url(../images/ui/btn_edit_red.svg);}
.list_function.main a.add:hover,
.list_function.main a.add.focus{background-image: url(../images/ui/btn_add_green.svg);}
.list_function.main a.edit:hover,
.list_function.main a.edit.focus{background-image: url(../images/ui/btn_edit_green.svg);}
.list_function.main a.calendar:hover,
.list_function.main a.calendar.focus{background-image: url(../images/ui/btn_calendar_green.svg);}

.list_function.main .tag{font-size: 20px; color: var(--fth01); padding: 3px 20px; border-radius: 50px; margin-right: 0; pointer-events: none; vertical-align: middle;}
.list_function.main .tag.focus{color: var(--fth03); background-color: var(--fth02); }
.list_function.main .block.fn .popupblock{ margin-right: 10px;}
.list_function.main .block.fn a{border-bottom: 4px solid #FFF; padding-bottom: 6px; font-weight: 500;}
.list_function.main .block.fn a.focus,
.list_function.main .block.fn a:hover{color:var(--fth04); border-color: var(--fth04);}

/* dialog Style */
.dialog { border: 5px solid var(--fth04); background-color: #FFF; position: absolute; top: 61px; left: 0px; min-width: 500px; padding: 15px; opacity: 0; transition: .3s; pointer-events: none;}
.tablebox .dialog{top: 14px; left: 54px; padding-bottom: 0;}
.tablebox .dialog.cmt{top: 34px; left: auto; right: 150px;}
.tableframe .tablebox .dialog{top: -15px; left: auto; right: 100px; width: 320px; min-width: auto;}

.dialog::before {
    border-color: transparent transparent transparent var(--fth04);
    border-style: solid solid solid solid; 
    border-width: 20px 20px 0px 20px; 
    position: absolute; top: -20px; left: -5px; content: ""; width: 0px; height: 0px; 
}
.dialog::after {
    border-color: transparent transparent transparent #fff ; 
    border-style: solid solid solid solid; 
    border-width: 20px 20px 0px 20px; 
    position: absolute; top: -9px; left: 0px; content: ""; width: 0px; height: 0px; 
}
.tablebox .dialog::before {
    border-color: transparent var(--fth04) transparent transparent;
    border-style: solid solid solid solid; 
    border-width: 14px 28px;
    position: absolute; top: calc(50% - 14px); left: -56px; content: ""; width: 0px; height: 0px; 
}
.tablebox .dialog::after {
    border-color: transparent #fff transparent transparent ; 
    border-style: solid solid solid solid; 
    border-width: 14px 28px; 
    position: absolute; top: calc(50% - 14px); left: -46px; content: ""; width: 0px; height: 0px; 
}
.tablebox .dialog.cmt::before {
    border-color: transparent transparent transparent var(--fth04) ;
    border-style: solid solid solid solid; 
    border-width: 14px 28px;
    position: absolute; top: 14px; right: -57px; left: auto; content: ""; width: 0px; height: 0px; 
}
.tableframe .tablebox .dialog::after {
    border-color: transparent transparent transparent #fff ; 
    border-style: solid solid solid solid; 
    border-width: 14px 28px; 
    position: absolute; top:  14px; right: -47px; left: auto; content: ""; width: 0px; height: 0px; 
}
.tableframe .tablebox .dialog::before {
    border-color: transparent transparent transparent var(--fth04) ;
    border-style: solid solid solid solid; 
    border-width: 14px 28px;
    position: absolute; top: 14px; right: -57px; left: auto; content: ""; width: 0px; height: 0px; 
}
.tablebox .dialog.cmt::after {
    border-color: transparent transparent transparent #fff ; 
    border-style: solid solid solid solid; 
    border-width: 14px 28px; 
    position: absolute; top: calc(50% - 14px); right: -46px; left: auto; content: ""; width: 0px; height: 0px; 
}
.dialog.show{opacity: 1; pointer-events:auto; z-index: 99;}
.dialog h6{color:var(--fth04); font-size: 18px; padding:0; border: none;}
.tablebox .dialog h6{ text-align: left;}
.dialog .formbox{border:none; padding: 0;}
.dialog .formbox dt{color:var(--fth04); font-size: 14px; font-weight: 500; padding-bottom: 5px;}
.dialog .formbox dd{ border: none; margin-bottom: 10px; text-align: left;}
.dialog .formbox dd input,
.dialog .formbox dd select,
.dialog .formbox dd button,
.dialog .formbox dd textarea{border: 1px solid #707070; padding: 1px 3px; font-size: 14px;}
/*.tablebox .dialog .formbox dd input,*/
.tablebox .dialog .formbox dd select,
/*.tablebox .dialog .formbox dd button,*/
.tablebox .dialog .formbox dd textarea{ border-radius: 6px; padding: 10px;}
.dialog .formbox dd select{background-image:url(../images/ui/icon_form_select_arrow_gray.svg);}
.dialog .formbox dd input,
.dialog .formbox dd select{ margin-right: 5px;}
.dialog .formbox .btnbox{ padding: 10px;}
.tablebox .dialog .formbox .btnbox{width: 100%; padding: 0 0 5px; text-align: right;}
.tablebox .dialog .formbox .btnbox a.green{ margin-right: 0;}

.dialog .formbox .btnbox a{color: #FFF;}
.dialog .formbox .half{ display: inline-block; width: 49%;}
.dialog .formbox .half:nth-of-type(odd){ margin-right: 5px;}

.tableframe{ width: 100%; overflow: auto;}

.dialog .tablebox{border:none; padding: 0;}
.dialog .tablebox li.head{color:var(--fth04); font-size: 14px; font-weight: 500; padding-bottom: 5px; padding-left: 0; width: 150px;}
.dialog .tablebox li{ border: none!important; margin-bottom: 10px; text-align: left!important;}
.dialog .tablebox li input,
.dialog .tablebox li select,
.dialog .tablebox li button,
.dialog .tablebox li textarea{width: 100%; border: 1px solid #707070; padding: 1px 3px; font-size: 14px;}
.dialog .tablebox li select{background-image:url(../images/ui/icon_form_select_arrow_gray.svg);}
.dialog .tablebox li input,
.dialog .tablebox li select{ margin-right: 5px; width: 100%;}
.dialog .tablebox .btnbox{ padding: 10px;}
.dialog .tablebox a{color: #FFF;}
.dialog .tablebox .half{ display: inline-block; width: 49%;}
.dialog .tablebox .half:nth-of-type(odd){ margin-right: 5px;}

.dialog .browser_group{width: 100%; font-size: 0; display: inline-block;}
.dialog .browser_group input{width: 75%!important; margin: 0!important;}
.dialog .browser_group button{width: 25%; margin: 0; border-left: none!important;}
.tablebox .dialog .browser_group{width: 100%; font-size: 0; display: inline-block;}
.tablebox .dialog .browser_group span{ display: inline-block; font-size: 14px; width: 80px; vertical-align: middle; color: var(--gray03);}
.tablebox .dialog .browser_group input{width: calc(80% - 80px)!important; margin: 0!important;}
.tablebox .dialog .browser_group button{width: 20%; margin: 0; border-left: none!important;}
.tableframe .tablebox .dialog .browser_group span{ width: 45px; font-size: 12px;}
.tableframe .tablebox .dialog .browser_group input{width: calc(70% - 45px)!important; font-size: 12px;}
.tableframe .tablebox .dialog .browser_group button{width: 30%; font-size: 12px;}

.list_function .popupblock .dialog{ top: 46px;}
.dialog textarea{ height: 70px;}

.dialog a.btn{ color:#FFF!important; border: none!important; font-weight: 500; padding: 5px 20px; margin: 0 0 0 10px!important; min-width: 82px!important; text-align: center;}
/*.dialog .btnbox a.btn:last-child{ margin-right: 0!important;}*/
/*
.dialog a.btn:hover{color: #FFF; background-color: var(--sec01);}
.dialog a.btn.green:hover{background-color: var(--sec02);}
*/

/* table list tag color define */
.tablebox.lv1 i{ font-style: normal; color: #FFF; display: inline-block; border-radius: 5px; padding: 5px; white-space: nowrap; width: 100%;}

/* Client Type */
.tablebox.lv1 i.ct01{ background-color: #fa6e23;}
.tablebox.lv1 i.ct02{ background-color: #f9541e;}
.tablebox.lv1 i.ct03{ background-color: #bc4817;}
.tablebox.lv1 i.ct04{ background-color: #f84b5f;}
.tablebox.lv1 i.ct05{ background-color: #f12b3c;}
.tablebox.lv1 i.ct06{ background-color: #d82a34;}
.tablebox.lv1 i.ct07{ background-color: #385fc4;}
.tablebox.lv1 i.ct08{ background-color: #182ca7;}
/* Priority */
.tablebox.lv1 i.pt01{ background-color: #222;}
.tablebox.lv1 i.pt02{ background-color: #888c8d;}
.tablebox.lv1 i.pt03{ background-color: #01ab8e;}
.tablebox.lv1 i.pt04{ background-color: #f93e2b;}
.tablebox.lv1 i.pt05{ background-color: #e22627;}
/* Task Status */
.tablebox.lv1 i.st01{ background-color: #02ab8a;}
.tablebox.lv1 i.st02{ background-color: #f93e2b;}
.tablebox.lv1 i.st03{ background-color: #222;}

/* table list custom define */
/* lv1 */
.tablebox.lv1 li:nth-of-type(1){}
.tablebox.lv1 li:nth-of-type(2){}
.tablebox.lv1 li:nth-of-type(3){}
.tablebox.lv1 li:nth-of-type(4){ color:var(--fth01); min-width: 200px;}
.tablebox.lv1 li:nth-of-type(5){}
.tablebox.lv1 li:nth-of-type(6){}
.tablebox.lv1 li:nth-of-type(7){}
.tablebox.lv1 li:nth-of-type(8){}
.tablebox.lv1 li:nth-of-type(9){}
.tablebox.lv1 li:nth-of-type(10){ color:var(--fth01);}

/* lv2 */
.tablebox.lv2a{ margin: 0;}
.block .tablebox.lv2a > ul > li{ border-bottom: none !important; height: 30px; text-align: left;}
.tablebox.lv2a:last-child{border-bottom: 2px solid var(--fth03);}

.tablebox.lv2a.b-4 li,
.tablebox.lv2a.b-3 li{ width: 25%; text-align: center !important;}
.tablebox.lv2a.b-3 li:nth-of-type(3),
.tablebox.lv2a.b-2 li{ width: 50%;}
.tablebox.lv2a.b-2 li{ width: 50%; vertical-align: top;}

.tablebox.lv2b li:nth-of-type(1){}
.tablebox.lv2b li:nth-of-type(2){color:var(--fth01);}
.tablebox.lv2b li:nth-of-type(3){}
.tablebox.lv2b li:nth-of-type(4){}
.tablebox.lv2b li:nth-of-type(5){}
.tablebox.lv2b li:nth-of-type(6){}
.tablebox.lv2b li:nth-of-type(7){color:var(--fth01);}

.dialog.r-edit .tablebox.s2,
.dialog.r-edit .tablebox.s3,
.dialog.r-edit .formbox.s2,
.dialog.r-add .tablebox.s2,
.dialog.r-add .tablebox.s3,
.dialog.r-add .formbox.s2,
.dialog.r-add .formbox.s3,
.dialog.d-edit .tablebox.s2,
.dialog.d-edit .formbox.s2,
.dialog.d-edit .tablebox.s3{ display: none;}
.dialog.r-edit.edit .tablebox.s2.edit,
.dialog.r-edit.del .tablebox.s2.del,
.dialog.r-add.add .tablebox.s2.add,
.dialog.r-add.dup .tablebox.s2.dup,
.dialog.d-edit.edit .tablebox.s2.edit,
.dialog.d-edit.del .tablebox.s2.del{ display: table;}
.dialog.r-add.add .formbox.s2.add,
.dialog.r-edit.edit .formbox.s2.edit,
.dialog.d-edit.edit .formbox.s2.edit{ display: inline-block;}

.dialog.d-edit .tablebox li:nth-of-type(1){width: 150px; text-align: right; vertical-align: top;}
.dialog .tablebox.s2 li.mix select{ width: calc(100% - 120px);}

/* lv3 */
.teskbox{padding: 0; width: 100%; display: block; margin-top: 10px;border: 2px solid var(--fth03); background-color: var(--fth02);}
.teskbox::after{ content: ''; display: table; clear: both;}
.teskbox h5{width: 100%; text-align: center; color: #FFF; background-color: var(--fth01); padding: 5px; font-size: 15px; font-weight: 700;}

.tablebox.lv3a a.add{width: 20px; height: 20px; background-image: url(../images/ui/btn_add_green.svg); transition: .3s; position: relative; z-index: 999;}
.tablebox.lv3a a.add:hover{background-image: url(../images/ui/btn_add_blue.svg);}

.tablebox.lv3a{margin-top: 0!important;}
.tablebox.lv3a li:nth-of-type(1){ text-align: left; border-right: none;}
.tablebox.lv3a li:nth-of-type(2){ vertical-align: top; position: relative; width: 40px;}

.tablebox.lv3b li:nth-of-type(1) b{ font-weight: 700; display: inline-block; background-color: #FFF; width: 26px; height: 26px; line-height: 25px; border-radius: 50px; border: 1px solid #333;}
.tablebox.lv3b li:nth-of-type(1){ width: 80px; vertical-align: top;}
.tablebox.lv3b li:nth-of-type(2){ text-align: left;}
.tablebox.lv3b li:nth-of-type(3){ width: 150px; vertical-align: top;}

.tablebox.lv3b li.cmt p::before{content: '•'; display: inline-block; margin-right: 5px; font-weight: 900; }
.tablebox.lv3b li.cmt p:first-child{ margin-bottom: 20px;}
.tablebox.lv3b li.cmt p:first-child::before{display: none;}
.tablebox.lv3b li.cmt i.t{color:var(--fth01); font-style: normal;}
.tablebox.lv3b li.cmt i.t::before{ content: '('; display: inline-block;}
.tablebox.lv3b li.cmt i.t::after{ content: ')'; display: inline-block;}

.tablebox.lv3c li:nth-of-type(1){ text-align: left;}
.tablebox.lv3c li:nth-of-type(2){ width: 110px; vertical-align: bottom;}

.block .tablebox.lv3c,
.block .tablebox.lv3c > ul > li,
.block .tablebox.lv3b,
.block .tablebox.lv3b > ul > li{ border: none; padding: 0 10px;}
body.fourth .mainContent > .block .tablebox.lv3b{ margin: 0;}
body.fourth .mainContent > .block .tablebox.lv3b > ul > li{ padding: 20px 5px; position: relative;}
body.fourth .mainContent > .block .tablebox.lv3c > ul > li{ background-color: #FFF; }
body.fourth .mainContent > .block .tablebox.lv3c{ border: 1px solid #333; border-radius: 10px; width: calc(100% - 30px); margin: 0 auto 15px; background-color: #FFF;}
.block .tablebox.lv3c textarea{width: 100%; font-size: 14px; height: 120px; border: none;}
body.fourth .mainContent > .block.right a.btn{ min-width: 90px;}

/* lv3 other */
.other .teskbox{ padding: 10px;}
.other .teskbox:nth-of-type(n+3){ margin-top: 0; border-top: none;}
.other .teskbox a.btn{margin-right: 5px;}
.other .teskbox b{ font-size: 10px; display: inline-block; vertical-align: middle;}
.other .teskbox .tablebox,
.other .teskbox .tablebox2,
.other .teskbox .tablebox > ul > li,
.other .teskbox .tablebox2 > ul > li{ border: none;}
body.other .mainContent > .block .tablebox{ margin: 0;}
.other .teskbox .tableframe{ height: 300px;}
.other .block.right .teskbox{ padding: 0; margin-bottom: 15px; border: 2px solid var(--fth03);}

.other .block.right .teskblock{padding: 10px; font-size: 14px; vertical-align: top;}
.other .block.right .teskbox .teskblock:nth-of-type(1){ border-right: 2px solid var(--fth03); width: 40%;}
.other .block.right h5{ padding: 15px 10px; text-align: left; color: #000; background-color: transparent; border-bottom: 2px solid var(--fth03);}
.other .block.right .teskbox.red{ background-color: var(--pri01c);}
.other .block.right .teskbox.red h5{ color: #FFF; background-color: var(--cat01);}
body.fourth .mainContent > .block .teskbox .tablebox,
body.fourth .mainContent > .block .teskbox .tablebox2,
body.fourth .mainContent > .block .teskbox .tablebox > ul > li,
body.fourth .mainContent > .block .teskbox .tablebox2 > ul > li{ background-color: transparent;}

.tablebox.m01 b{ width: 100%; height: 28px; line-height: 28px; background-color: #b9b9b9; border-radius: 5px; padding:0px 4px; margin-top: 5px;}
.tablebox.m01 a.man,
.tablebox.m02 a.man{ width: 40px; height: 40px; border: 2px solid #d9d9d9; background-size: cover; background-position: center; vertical-align: middle; border-radius: 50px; transition: .5s; cursor: default;}
.tablebox.m01 a.man:hover{ border-color: var(--fth01);}
.tablebox.m01 a.add{ font-size: 20px; font-weight: 900; color: #AAA; transition: .3s;}
.tablebox.m01 a.add:hover{ color: #333;}
.other .tablebox a.attch{ color: var(--fth05); transition: .3s; margin: 3px 3px 3px 0; padding: 5px 10px 5px 0; font-size:13px;}
.other .tablebox a.attch::before{ content: ''; width: 20px; height: 20px; display: inline-block; margin-right: 5px; background-color: var(--fth05); border-radius: 50px; vertical-align: middle; transition: .3s;}
.other .tablebox a.attch:hover{ color: var(--fth01);}
.other .tablebox a.attch:hover::before{ background-color: var(--fth01);}

.tablebox.m01 li:nth-of-type(1){vertical-align: top;}
.tablebox.m01 li:nth-of-type(2){ text-align: left;}

.tablebox.m02 a.man{ width: 60px; height: 60px; margin-right: 5px; /*pointer-events: none;*/}
.tablebox.m02 i{ display: inline-block; font-style: normal; color: var(--fth01); vertical-align: middle; text-align: left; font-weight: 300;}
.tablebox.m02 i b{ font-weight: 700;}
.tablebox.m02 .msg{border: 1px solid #333; padding: 10px; border-radius: 10px; width: 100%; background-color: #FFF; font-size: 0;}
.tablebox.m02 .msgbox,
.tablebox.m02 .btnbox{ display: inline-block; padding: 0;}
.tablebox.m02 .msgbox{ width: calc(100% - 90px); font-size: 14px; vertical-align: top;}
.tablebox.m02 .btnbox{width: 80px; vertical-align: bottom; position: relative;}
.tablebox.m02 .msgbox a{ color: var(--fth01); }
.tablebox.m02 .msgbox a.attch,
.tablebox.m02 .btnbox a{ width: 100%; }
.tablebox.m02 .btnbox a{ margin-top: 5px;}
.tablebox.m02 .deleted .msg{background-color: #b9b9b9; padding: 20px 10px;}
.tableframe .tablebox .dialog .btnbox a.btn{ width: 82px;}
.teskbox.red .tablebox.m02 .msg{background-color: #93d105;padding: 20px 10px;}
.teskbox.red .tablebox.m02 .deleted .msg{background-color: var(--cat01); color: #FFF;}
.teskbox.red .tableframe{ height: 230px;}

.tablebox.m02 li:nth-of-type(1){vertical-align: top; text-align: left; min-width: 150px;}
.tablebox.m02 li:nth-of-type(2){ text-align: left;}
body.fourth .mainContent > .block .tablebox.lv3c.m03{ width: 100%; margin: 10px 0; }
.block .tablebox.lv3c.m03 textarea{ height: 80px;}

/* lightbox */
#pop-multiSelect{ width: 600px; display: none;}
#pop-multiSelect h3{ text-align: center; font-size: 36px; font-weight: 700; color: #333; }
#pop-multiSelect ul{ font-size: 0; padding: 10px 0; border-top: 1px solid #666; border-bottom: 1px solid #666;}
#pop-multiSelect li{ display: inline-block; width: 50%; vertical-align: top;}
#pop-multiSelect .btnbox{ margin: 0; padding: 10px 0 0; }
#pop-multiSelect .btnbox a.btn{ min-width: 90px;}


/* commentbox */
.teskbox .commentbox a.btn{ min-width: 90px; margin: 0 0 5px 0;}
.teskbox .commentbox .filebox{ border-top: 1px solid #666;}
.teskbox .commentbox .filebox a.attch{padding: 2px 3px 2px 0; color: #333;}
.teskbox .commentbox .filebox a.attch::before{content: 'x'; color: #FFF; text-align: center; width: 16px; height: 16px; line-height: 14px; background-color: #999;}
