/* -------------------------- */
/* body.primary Style (Red) */
/* -------------------------- */
hr{width: 100%; border: 0; background-color: #707070; height: 1px;}

header{ position: absolute; overflow: auto; width: 100%; height: auto;}
header .headerbox{ width: 100%; height: 100px; padding-top: 30px; background-color: var(--pri01a); text-align: center; transition: .5s;}
body.primary header > .headerbox{background-color: var(--pri01a);}
body.second  header > .headerbox{background-color: var(--sec01);}
body.third   header > .headerbox{background-color: var(--sec03);}
body.fourth  header > .headerbox{background-color: var(--fth01);}
body.black   header > .headerbox{background-color: var(--black01);}
body.cyan    header > .headerbox{background-color: var(--cyan01);}

header .logo{ display: inline-block; width: 188px; height: 43px; background-image: url(../Images/ui/logo_light.svg);  background-size: contain; background-repeat: no-repeat; background-position: center; }
header > .headerbox .logo{ margin-left: 20px; float: left;}
header > .headerbox .menu{ float: left; margin-left: 37px;}
header > .headerbox .menu::before{ font-size: 43px; color: #FFF;}
header > .headerbox > i{ color: #FFF; float: left; height: 43px; line-height: 43px; font-style: normal; font-weight: 700; font-size: 22px;}

header nav{ position: absolute; display: block; width: 100%; height: 100vh; top: 0; left: -100%; transition: .2s; background-color: #FFF; z-index: 99999;}
body.MenuOn header{ height: 100vh;}
body.MenuOn header nav{ left: 0;}
header nav .headerbox{background-color: #E2E2E2;}
header nav .logo{background-image: url(../images/ui/logo_light.svg);}
header nav .footer{ display: inline-block; width: 100%; height: 158px; padding-top: 36px; text-align: center; font-size: 26px; color: #404041; background-color: #E2E2E2; font-weight: 500;}
header nav .footer .logout{ font-size: 26px; color: #FFFFFF; font-weight: 500;}

header nav .middle{ display: block; padding: 30px 70px; font-size: 26px; min-height: calc(100vh - 100px - 158px); font-size: 0;}
header nav .info{ display: inline-block; width: 100%;}
header nav .info li{ float: left;}
header nav .info::after{ content: ''; display: table; clear: both;}
header nav .info li.photo{ width: 110px; height: 110px; background-image: url(../Images/ui/avatar.svg); background-repeat: no-repeat; background-size: cover; border-radius: 90px; display: inline-block; background-color: var(--gray03); margin-right: 20px;}
header nav .info li.name{ font-size: 36px; font-weight: 700; width: calc(100% - 130px);}
header nav .info li.position{ font-size: 26px; font-weight: 500;}
header nav .middle ul.menu{display: inline-block; background-color: #FFF; width: calc(50% - 10px); min-height: 210px; margin: 20px 0 0; vertical-align: top;}
header nav .middle ul.menu:last-child{margin-left:20px;}

header nav .middle ul.menu li{ display: inline-block; width: 100%; min-height: 140px; padding: 20px; border: 3px solid var(--sec01); border-radius: 18px; margin-bottom: 20px;}

header nav .middle ul.menu li::before{ content: ''; display: inline-block; width: 40px; height: 40px; background: url(../Images/ui/icon.svg) no-repeat 0px 0px; background-size: 1000%; margin: -5px 0 5px -5px;}

header nav .middle ul.menu li.sec01{border-color: var(--sec01);}
header nav .middle ul.menu li.sec02{border-color: var(--sec02);}
header nav .middle ul.menu li.sec03{border-color: var(--sec03);}
header nav .middle ul.menu li.gray02{border-color: var(--gray02);}
header nav .middle ul.menu li.gray05{border-color: var(--gray05);}
header nav .middle ul.menu li.pri01a{border-color: var(--pri01a);}

header nav .middle ul.menu li a{ display: block; font-size: 24px; font-weight: 700; line-height: 28px;}
header nav .middle ul.menu li a.list{ font-size: 20px; font-weight: 500; display: none;}
header nav .middle ul.menu li a.list:nth-of-type(2){ margin-top: 20px;}
header nav .middle ul.menu li a.list::before{ content: '•'; display: inline-block; margin-right: 5px;}
header nav .middle ul.menu li.focus a.list{ display: block;}


/* Content */
.mainContent{ padding:130px 12px 30px; width: 100%; min-height: calc(100vh - 200px); }
.mainContent > .tags{}
.mainContent > .tags a{ font-size: 18px; font-weight: 700; padding: 8px 16px; background-color: var(--pri01c); border-top-left-radius: 10px; border-top-right-radius: 10px; border: 2px solid var(--pri01a); border-bottom: 0; }
.mainContent > .tags a.focus{ color: #FFF;background-color: var(--pri01a);}
.mainContent > .block{display: none; width: 100%; border: 2px solid var(--pri01a);}
.mainContent > .block.focus{ display: block; margin-bottom: 40px;}

.block h6{ font-size: 36px; font-weight: 700; color: var(--pri01a); border-bottom: 2px solid var(--pri01a); padding: 10px 20px;}
.block .box-content{ padding: 20px 40px 30px;}
.block i.hit{ display: block; font-style: normal; font-weight: 500; font-size: 14px; margin: 8px 0;}
.block i.hit b{ font-weight: 900;}
.block .title{ margin: 5px 0;}
.block .title::after{ content: ''; display: table; clear: both;}
.block .title:nth-of-type(n+2){margin-top: 20px;}
.block .title b{ font-size: 17px; font-weight: 800; }
.block .function{display: inline-block; float: right; font-size: 14px; color: #000;  font-weight: 500;}
.block .function select{font-size: 13px; font-weight: 700; text-align: left; margin-left: 10px;}
.block h6 .function{ margin-top: 15px;}
.block .title .function input+Label{ font-size: 15px;}
.block .title .function input[type=radio]+Label::before{ font-size: 20px;}

.block .tablebox{ border-top: 2px solid var(--pri01a); border-left: 2px solid var(--pri01a); width: 100%;}
.block .tablebox > ul > li{text-align: center; padding: 10px; border-bottom: 2px solid var(--pri01a); border-right: 2px solid var(--pri01a); font-weight: 500; font-size: 16px; vertical-align: middle;}
.block .tablebox ul.head,
.block .formbox li.head{ background-color: var(--pri01c); font-weight: 800;}
.block .tablebox ul.head li{ font-weight: 800;}

.block .tablebox2{width: 100%;}
.block .tablebox2 ul.head li{font-weight: 800;}
.block .tablebox2 ul li{ font-size: 18px; padding: 10px; font-weight: 500; text-align: center; border-bottom: 1px solid #707070; vertical-align: middle;}

.block .formbox{border: 2px solid var(--pri01a); padding: 20px; width: 100%;}
.block .formbox ul{border: 2px solid var(--pri01a); display: block; border-radius: 10px; margin-top: 15px}
.block .formbox > ul:first-child{margin-top: 0;}
.block .formbox ul > li{display: inline-block; padding: 10px; font-size: 16px; font-weight: 500; border-right: 2px solid var(--pri01a);}
.block .formbox ul > li:last-child{ border-right: none;}
.block .formbox li.head{ width: 150px;}

.block .formbox .group ul{ border-radius: 0;}
.block .formbox .group ul:nth-of-type(n+2){ border-top: none; margin-top: 0;}

.block .formbox .group ul:first-child{ border-top-left-radius: 15px; border-top-right-radius: 15px; }
.block .formbox .group ul:last-child{  border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}

.block .formbox dl,
.block .formbox dt,
.block .formbox dd{ width: 100%; display: block;}
.block .formbox dt{ font-size: 17px; font-weight: 700; margin-top: 12px; padding-bottom: 8px}
.block .formbox dd{ border: 2px solid var(--pri01a); border-radius: 10px; margin-bottom: 20px;}

.block .formbox dd input,
.block .formbox dd textarea,
.block .formbox dd select,
.block .formbox2 input,
.block .formbox2 textarea,
.block .formbox2 select{ width: 100%; border: none; }
.block .formbox2 input,
.block .formbox2 textarea,
.block .formbox2 select{ padding: 0px;}

.block .formbox2{width: 100%;}
.block .formbox2 ul li.head{font-weight: 800;border-bottom: none;}
.block .formbox2 ul li{ font-size: 18px; padding: 10px 0; font-weight: 500; text-align: left; border-bottom: 1px solid #707070; vertical-align: middle;}
.block .formbox2 ul li span{display: block;}
.block .formbox2 ul li img{max-width: 100%; max-height: 300px;}

b.light{ width: 36px; height: 36px; display: inline-block; background: url(../Images/ui/bullet_green.svg) no-repeat center; background-size: contain; vertical-align: middle;}
b.light.green{ background-image: url(../Images/ui/bullet_green.svg);}
b.light.blue{ background-image: url(../Images/ui/bullet_blue.svg);}
b.light.ungreen{ background-image: url(../images/ui/bullet_ungreen.svg);}
b.light.unblue{ background-image: url(../images/ui/bullet_unblue.svg);}

.block input[type=radio]+Label::before{ vertical-align: sub; margin-left: 10px;}
body input.alone.green[type=radio]::before,
.block input.green[type=radio]+Label::before{ font-size: 25px; color: var(--sec02);}
body input.alone.blue[type=radio]::before,
.block input.blue[type=radio]+Label::before{ font-size: 25px; color: var(--sec03);}

/* -------------------------- */
/* body.second Style (Yellow) */
/* -------------------------- */

body.second .mainContent > .block,
body.second .mainContent > .block h6,
body.second .mainContent > .block .tablebox,
body.second .mainContent > .block .tablebox > ul > li,
body.second .mainContent > .block .tablebox2,
body.second .mainContent > .block .formbox,
body.second .mainContent > .block .formbox dd,
body.second .mainContent > .tags a{ border-color: var(--sec01);}

body.second .mainContent > .block h6{ color: var(--sec01);}

body.second .mainContent > .block .tablebox > ul.head > li,
body.second .mainContent > .tags a{ background-color:#EFEFEF;}
body.second .mainContent > .tags a.focus{background-color:var(--sec01);}

/* -------------------------- */
/* body.third Style (Blue) */
/* -------------------------- */

body.third .mainContent > .block,
body.third .mainContent > .block h6,
body.third .mainContent > .block .tablebox,
body.third .mainContent > .block .tablebox > ul > li,
body.third .mainContent > .block .tablebox2,
body.third .mainContent > .block .formbox,
body.third .mainContent > .block .formbox dd,
body.third .mainContent > .tags a{ border-color: var(--sec03);}

body.third .mainContent > .block h6{ color: var(--sec03);}

body.third .mainContent > .block .tablebox > ul.head > li,
body.third .mainContent > .tags a{ background-color:#EFEFEF;}
body.third .mainContent > .tags a.focus{background-color:var(--sec03);}

body.third .mainContent > .block .tablebox{ border-top: 2px solid var(--sec03); border-left: 2px solid var(--sec03); width: 100%;}
body.third .mainContent > .block .tablebox > ul > li{text-align: center; padding: 10px; border-bottom: 2px solid var(--sec03); border-right: 2px solid var(--sec03); font-weight: 500; font-size: 16px; vertical-align: middle;}
body.third .mainContent > .block .tablebox ul.head,
body.third .mainContent > .block .formbox li.head{ background-color: var(--sec03); font-weight: 800;}
body.third .mainContent > .block .tablebox ul.head li{ font-weight: 800;}

/* -------------------------- */
/* body.black Style (Blue) */
/* -------------------------- */

body.black .mainContent > .block,
body.black .mainContent > .block h6,
body.black .mainContent > .block .tablebox,
body.black .mainContent > .block .tablebox > ul > li,
body.black .mainContent > .block .tablebox2,
body.black .mainContent > .block .formbox,
body.black .mainContent > .block .formbox dd,
body.black .mainContent > .tags a{ border-color: var(--black01);}

body.black .mainContent > .block h6{ color: var(--black01);}

body.black .mainContent > .block .tablebox > ul.head > li,
body.black .mainContent > .tags a{ background-color:#EFEFEF;}
body.black .mainContent > .tags a.focus{background-color:var(--black01);}

body.black .mainContent > .block .tablebox{ border-top: 2px solid var(--black01); border-left: 2px solid var(--black01); width: 100%;}
body.black .mainContent > .block .tablebox > ul > li{text-align: center; padding: 10px; border-bottom: 2px solid var(--black01); border-right: 2px solid var(--black01); font-weight: 500; font-size: 16px; vertical-align: middle;}
body.black .mainContent > .block .tablebox ul.head,
body.black .mainContent > .block .formbox li.head{ background-color: var(--black01); font-weight: 800;}
body.black .mainContent > .block .tablebox ul.head li{ font-weight: 800;}


/* -------------------------- */
/* body.second Style (Yellow) */
/* -------------------------- */

body.cyan .mainContent > .block,
body.cyan .mainContent > .block h6,
body.cyan .mainContent > .block .tablebox,
body.cyan .mainContent > .block .tablebox > ul > li,
body.cyan .mainContent > .block .tablebox2,
body.cyan .mainContent > .block .formbox,
body.cyan .mainContent > .block .formbox dd,
body.cyan .mainContent > .tags a{ border-color: var(--cyan01);}

body.cyan .mainContent > .block h6{ color: var(--cyan01);}

body.cyan .mainContent > .block .tablebox > ul.head > li,
body.cyan .mainContent > .tags a{ background-color:var(--cyan03);}
body.cyan .mainContent > .tags a.focus{background-color:var(--cyan01);}

/* -------------------------- */
/*   body.fourth Style (Blue)  */
/* -------------------------- */

body.fourth .mainContent > .block{ border: none; display: block; margin-bottom: 40px;}

body.fourth .mainContent > .block .tablebox,
body.fourth .mainContent > .block .tablebox > ul > li,
body.fourth .mainContent > .block .tablebox2{ border-color: var(--fth03); background-color:var(--fth02);}
body.fourth .mainContent > .block .tablebox > ul.head > li{background-color:var(--fth01); color: #FFF;}
body.fourth .mainContent > .block .tablebox{ margin: 15px 0;}

.list_function{ display: block; width: 100%;}
.list_function::after{ content: ''; display: table; clear: both;}
.list_function .pagenation{ float: right; font-size: 0;}
.list_function .pagenation a,
.list_function .pagenation b{ display: inline-block; padding: 3px 8px; font-weight: 800; color:var(--fth01); text-align: center; font-size: 14px; border: 2px solid #707070; border-left-width: 1px; border-right-width: 1px; transition: .3s;}
.list_function .pagenation b{ border-top: none; border-bottom: none;}
.list_function .pagenation a:first-child{border-left-width: 2px;}
.list_function .pagenation a:last-child{border-right-width: 2px;}
.list_function .pagenation a:hover{background-color:#707070; color: #FFF; }

.list_function .filter{ float: left;}
.list_function .filter::before{ content: 'Filter:'; display: inline-block; font-weight: 800; color:var(--fth01);}
.list_function .filter select{border: 2px solid #707070; color:var(--fth01); font-weight: 800; background-image:url(../Images/ui/icon_form_select_arrow_gray.svg); padding: 5px 35px 5px 8px; font-size: 14px;}

.list_function .new_project{ float: left; display: inline-block; position: relative; vertical-align: bottom; margin-right: 20px; margin-top: -15px;}
.list_function .new_project a.add{font-size: 60px; background-color:var(--fth04); color: #FFF; font-weight: 900; width: 46px; height: 46px; line-height: 36px;  display: inline-block; text-align: center; cursor: pointer;}

.list_function .dialog { border: 5px solid var(--fth04); background-color: #FFF; position: absolute; top: 61px; left: 0px; min-width: 500px; padding: 15px; opacity: 0; transition: .3s; pointer-events: none;}

.list_function .dialog::before {
    border-color: transparent transparent transparent var(--fth04);
    border-style: solid solid solid solid; 
    border-width: 20px 20px 0px 20px; 
    position: absolute; top: -20px; left: -5px; content: ""; width: 0px; height: 0px; 
}
.list_function .dialog::after {
    border-color: transparent transparent transparent #fff ; 
    border-style: solid solid solid solid; 
    border-width: 20px 20px 0px 20px; 
    position: absolute; top: -9px; left: 0px; content: ""; width: 0px; height: 0px; 
}
.list_function .dialog.show{opacity: 1; pointer-events:auto;}
.list_function .dialog h6{color:var(--fth04); font-size: 18px; padding: 0 0 10px; border: none;}
.list_function .dialog .formbox{border:none; padding: 0;}
.list_function .dialog .formbox dt{color:var(--fth04); font-size: 14px; font-weight: 500; padding-bottom: 5px;}
.list_function .dialog .formbox dd{ border: none; margin-bottom: 10px;}
.list_function .dialog .formbox dd input,
.list_function .dialog .formbox dd select,
.list_function .dialog .formbox dd textarea{border: 1px solid #707070; padding: 1px 3px; font-size: 16px;}
.list_function .dialog .formbox dd select{background-image:url(../Images/ui/icon_form_select_arrow_gray.svg);}
.list_function .dialog .formbox .btnbox{ padding: 10px;}
.list_function .dialog .formbox .half{ display: inline-block; width: 49%;}

/* table list custom define */
.tablebox.lv1 li:nth-of-type(1){}
.tablebox.lv1 li:nth-of-type(2){}
.tablebox.lv1 li:nth-of-type(3){}
.tablebox.lv1 li:nth-of-type(4){ color:var(--fth01); min-width: 200px;}
.tablebox.lv1 li:nth-of-type(5){}
.tablebox.lv1 li:nth-of-type(6){}
.tablebox.lv1 li:nth-of-type(7){}
.tablebox.lv1 li:nth-of-type(8){}
.tablebox.lv1 li:nth-of-type(9){}
.tablebox.lv1 li:nth-of-type(10){ color:var(--fth01);}


/* table list tag color */
.tablebox.lv1 i{ font-style: normal; color: #FFF; display: inline-block; border-radius: 5px; padding: 5px; white-space: nowrap; width: 100%;}
/* Client Type */
.tablebox.lv1 i.ct01{ background-color: #fa6e23;}
.tablebox.lv1 i.ct02{ background-color: #f9541e;}
.tablebox.lv1 i.ct03{ background-color: #bc4817;}
.tablebox.lv1 i.ct04{ background-color: #f84b5f;}
.tablebox.lv1 i.ct05{ background-color: #f12b3c;}
.tablebox.lv1 i.ct06{ background-color: #d82a34;}
.tablebox.lv1 i.ct07{ background-color: #385fc4;}
.tablebox.lv1 i.ct08{ background-color: #182ca7;}
/* Priority */
.tablebox.lv1 i.pt01{ background-color: #222;}
.tablebox.lv1 i.pt02{ background-color: #888c8d;}
.tablebox.lv1 i.pt03{ background-color: #01ab8e;}
.tablebox.lv1 i.pt04{ background-color: #f93e2b;}
.tablebox.lv1 i.pt05{ background-color: #e22627;}
/*  */
.tablebox.lv1 i.st01{ background-color: #02ab8a;}
.tablebox.lv1 i.st02{ background-color: #f93e2b;}
.tablebox.lv1 i.st03{ background-color: #222;}
