/* ------------------- mediaqueries ------------------- */
@media screen and (max-height: 660px) {
	/* NB height */
}
@media screen and (max-width: 640px) {
	/* width */
    header .headerbox{height: 178px; padding-top: 98px; }
    header > .headerbox .logo{ margin-left: calc(-37px - 21px); float: none;}
    header > .headerbox i{ display: none;}
    
    .mainContent{ padding-top: 200px;}
}