conf.inc  
**/config  
**/libs
schema.sql
node_modules
vendor/* 
images/*
*.bak
*.sql
*copy.js
*copy.php

js/@fullcalendar/
js/bootstrap/
js/bootstrap4-toggle@3.6.1/
js/canvasZimage/
js/chart/
js/chosen/
js/element-ui@2.15.14/
js/fullcalendar@5.1.0/
js/fullcalendar-2.1.1/
js/html2canvas/
js/jquery/
js/jSignature/
js/light/
js/npm/
js/vue-i18n/
js/canvas2image/

# 第三方庫和套件
css/bootstrap/
css/@fullcalendar/
css/chosen/
css/element-ui/
css/fontawesome/
css/fullcalendar@*/
css/jquery-ui/
css/bootstrap4-toggle@3.6.1/


composer.lock
css/bootstrap-4.4.1.css
js/bootstrap-4.4.1.js
js/popper.min.js
